{% extends 'base.html.twig' %}

{% block title %}Items index{% endblock %}

{% block body %}
    <h1>Items index</h1>
<table class="table">
    <thead>
    <th>Your panier</th>

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Seller</th>
    </tr>
    </thead>
    <tbody>
    {% for itemSessions in itemSession.object_list %}
    <tr>
        {% if itemSession %}
            <td>{{ itemSessions.name }}</td>
            <td>{{ itemSessions.name }}</td>
            <td>{{ itemSessions.price }}</td>
            <td>{{ itemSessions.description }}</td>
            <td>{{ itemSessions.user.username }}</td>
            <td><a href="{{ path('app_items_delete_in_panier', {'id': itemSessions.id}) }}">delete</a></td>
        {% endif %}

    </tr>
    {% endfor %}

    </tbody>
</table>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Seller</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.user.username }}</td>

                <td>
                    <a href="{{ path('app_items_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('app_items_edit', {'id': item.id}) }}">edit</a>
                    <a href="{{ path('app_items_add_panier', {'id': item.id}) }}">add to panier</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_items_new') }}">Create new</a>
{% endblock %}
